.options {
    margin-bottom: 30px;
    margin-top: 30px;
}

.question {
    margin-bottom: 30px;
    margin-top: 30px;
}

.answer {
    margin-bottom: 10px;

}

.qOver {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: x-large;
}

.startOver button {
    font-size: large;
    padding: 7px;
}

.goToPacks {
    margin-bottom: 30px;
    margin-top: 30px;
}
.goToPacks a {
    text-decoration: none;
}
