.wrapper {
    height: 50px;
    padding: 20px;
}
.link {
    font-size: large;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    border-right: 2px solid rebeccapurple;
}
.link:hover {
    background-color: rgba(58, 0, 83, 0.3);
}
.active {
    color: black;

}
