.default {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
}
.default:hover {
    background-color: lightgrey;
}
.default:disabled {
    opacity: 0.5%;
}
.red {
    background: red;
}